.mainContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.d3OrgChart {
  width: 100%;
  height: 100%;
}

.node {
  width: 200px;
  height: 175px;
}

.filterContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.languageSelectorContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}
